<h2>Login</h2>

<form action="/auth/login/spotify" method="POST" id="form-container">
  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>
